@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Welcome To My Portfolio!</h1>

    <!-- Profile Picture -->
    <div class="profile-container">
        <img src="~/image/122820824.jpg" alt="Profile Picture" class="profile-pic" />
    </div>

    <p>
        Hello, I'm George, A Software Engineer<br />
        Game Developer and Video Editor
    </p>
</div>




<!-- LinkedIn and GitHub Buttons -->
<div class="text-center">
    <a href="https://www.linkedin.com/in/icpplayz/" class="btn btn-primary" target="_blank">LinkedIn</a>
    <a href="https://github.com/PlayzAe" class="btn btn-dark" target="_blank">GitHub</a>
</div>

<!-- Card Section -->
<div class="my-5">
    <h2 class="section-title text-center">What I Do</h2>
    <div class="card-container">
        <div class="card">
            <div class="card-body">
                <h3>Graphic Design</h3>
                <p>Graphic design is my way of transforming concepts into striking visual narratives. I aim to merge creativity with purpose in every project, creating designs that both engage and convey meaning.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3>Coding Work</h3>
                <p>Coding is my craft for turning abstract ideas into functional software solutions. I strive to blend innovation with efficiency in every line of code, creating programs that solve problems and enhance user experiences.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3>Message Me</h3>
                <p>Coding and editing are my tools for bringing ideas to life, from crafting functional software to creating engaging visuals. If you're looking to collaborate or discuss a project, send me a message or email—I’m excited to work together and turn your vision into reality.</p>
            </div>
        </div>
    </div>
</div>

